/* here is my styling for my page Liberty City */

article {

}

body {
    background-color:white;

}

img {
    border-radius: 85%;
}

p {
    background-color: aquamarine;
}   

div {

}

# regular {
    border-radius: 100%
}

div header {
    color: aquamarine
    background-color: yellowgreen;
}

main {

}

li {
    font-size: 26px;
}